body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;

    background-color: #151515;
    color: white;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    
}
.account-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 50%;
    height: 75%;



}
.logo-and-text 
{
    display: flex;
    height: 50%;
    width: 40%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}
.responsive-image 
{
    display: flex;
    flex: auto;
    width: 80%; /* Image will resize to fit the container */
    height: 10%; /* Maintains aspect ratio */
    object-fit: cover; /* Crops the image to fit the container */
}
.logo-title 
{
    display: flex;
    width: 80%;
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #EEEEEE;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mb-3 
{
    display: flex;
    flex: 50%;
    height: 50%;
    width: 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    margin: 10px;

}
.email-container 
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 90%;

    font-size: 20px;


    margin: 10px;
}
.form-label 
{
    margin-bottom: 8px;
}
.form-control 
{
    padding: 10px;
    font-size: 16px;
    width: 90%;
    background-color: #222222;
    border: 3px solid #2e2e2e;
    border-radius: 4px;
    transition: border-color 0.3s;
}
.form-control:focus {
    border-color: #686767;
    outline: none;
}
.password-container
{
    display: flex;

    justify-content: space-between;
    flex-direction: column;
    width: 90%;

    font-size: 20px;


    margin: 10px;
}
.password-sub-container 
{
    display: flex;
    flex-direction: row;
    width: 33%;
    color: #EEEEEE;

    margin: 10px;
}
.password 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    justify-content: center;


    margin: 10px;
}
.forgot-password 
{
    display: flex;
    flex: 20%;
    justify-content: flex-end;


    margin: 10px;
}

